//paleta de colores
$color-principal: #eee;
$color-secundario: #2b2929;
$color-terciario: rgb(255, 0, 0);
$color-blanco: white;
$color-negro: black;


//medida header
$header-height: 500px;

//Box Shadow
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);