@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */
.custom-navbar {
  background-color: #2b2929;
}

.custom-navbar .nav-link {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-navbar .nav-link:hover {
  color: rgb(255, 0, 0);
}
.custom-navbar .nav-link.active {
  color: rgb(255, 0, 0);
}
.navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logotipo {
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

/* HEADER */
.header_inicio {
  min-height: 500px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_info {
  width: 40%;
  margin-left: 200px;
}
.header_info h2 {
  color: rgb(255, 0, 0);
  font-size: 30pt;
  font-weight: bold;
}
.header_info p {
  color: white;
  margin-bottom: 20px;
  font-size: 14pt;
}
.header_info a {
  text-decoration: none;
  background-color: #eee;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px 0px;
}
.header_info a:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}
.header_inicio .logo-header {
  width: 400px;
  margin-right: 300px;
}

/* MAIN */
#principal {
  text-align: center;
}
#principal h1 {
  margin-top: 10px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.contenedor_productos {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.productos {
  margin: 10px;
  display: inline-block;
  background-color: #756363;
}
.productos img {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 15px 15px;
}
.productos h2 {
  color: white;
  margin-top: 20px;
}
.productos p {
  color: white;
  margin-bottom: 10px;
}
/* FOOTER */
footer {
  padding: 10px;
  background-color: #2b2929;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  margin: 0;
}

/* ---- PAGINA GALERIA ---- */
.header_galeria {
  min-height: 500px;
  background-image: url("../imagenes/galeria/fondo_header.jpg");
  background-position: top;
  background-size: cover;
}
.header_galeria h1 {
  color: white;
  font-size: 40pt;
  text-shadow: #000000 5px 0 5px;
  text-align: center;
  padding-top: 170px;
}
/* INFORMACIÓN PRINCIPAL */
.galeria {
  height: 800px;
  width: 80%;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
  padding: 30px;
}
.galeria .galeria_fotos {
  overflow: hidden;
  border: 1px solid #000000;
}
.galeria .galeria_fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria .galeria_fotos.foto1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.galeria .galeria_fotos.foto2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.galeria .galeria_fotos.foto3 {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}
.galeria .galeria_fotos.foto4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.galeria .galeria_fotos.foto5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.galeria .galeria_fotos.foto6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.galeria .galeria_fotos.foto7 {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}

/* ---- PAGINA CONTACTO ---- */
.header_contacto {
  min-height: 500px;
  background-image: url("../imagenes/contacto/header_contacto.png");
  background-position: center;
  background-size: cover;
}
.header_contacto h1 {
  color: white;
  font-size: 40pt;
  text-shadow: #000000 5px 0 5px;
  text-align: center;
  padding-top: 170px;
}

/* FORMULARIO */
.formulario,
.mapa {
  margin-top: 20px;
}

.formulario,
.mapa,
h2 {
  margin-bottom: 10px;
}

.contacto {
  width: 90%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

.contacto h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.formulario {
  width: 30%;
  height: 700px;
  float: left;
}
.formulario button:hover {
  background-color: royalblue;
  color: white;
  border: none;
}

.formulario input,
.formulario textarea,
.formulario button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

/*MAPA*/
.mapa {
  width: 50%;
  float: right;
}

iframe {
  width: 70%;
  height: 400px;
  border: none;
}

/* ---- RESPONSIVE ---- */

/* PAGINA INDEX */
@media (max-width: 575px) {
  /* ---- HEADER INDEX ----- */
  .header_inicio {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .header_info {
    width: 90%;
    margin-left: 0;
    text-align: center;
  }
  .header_inicio .logo-header {
    width: 100%;
    margin-right: 0;
    margin-top: -30px;
  }
  /* ---- MAIN INDEX ----- */
  #principal h1 {
    margin-top: 30px;
  }
  .contenedor_productos {
    width: 100%;
    flex-direction: column;
  }

  /* ---- PAGINA GALERIA ----- */
   .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
    padding-top: 30px;
    gap: 10px;
    height: auto;
  }

  .galeria_fotos {
    grid-column: auto !important; /* ✅ RESETEA */
    grid-row: auto !important;    /* ✅ RESETEA */
   
    display: block;
  }

  .galeria_fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  } 
  .foto7{
    grid-column: 1/3 !important;

  }

  /* ---- PAGINA CONTACTO ----- */
  .header_contacto {
    background-position: 82% center;
  }
  .contacto {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .formulario {
    width: 100%;
    height: auto;
  }
  .mapa {
    width: 100%;
    margin-top: 20px;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
}
