@import "../abstracts/mixin";
@import "../abstracts/variables";
@import "../abstracts/navbar";
@import "../abstracts/footer";

/* HEADER CONTACTO */
.header_contacto {
  min-height: $header-height;
  background-image: url("../imagenes/contacto/header_contacto.png");
  background-position: center;
  background-size: cover;
  @include flex(flex, center, center);
  text-align: center;

  h1 {
    @include h1(36pt, $color-blanco, bold);
    text-shadow: #000000 5px 0 5px;
    margin: 0;
  }
}

/* CONTACTO */
.contacto {
  width: 80%;
  @include flex(flex, space-between, flex-start);
  flex-direction: row;
  gap: 10px;
  margin: 50px auto 0 auto;

  h2 {
    @include h2(24pt, $color-negro, bold);
    text-transform: uppercase;
    margin-bottom: 10px;
    }

  .formulario,
  .mapa {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .formulario {
    height: 500px;

    input,
    textarea,
    button {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
    }

    button:hover {
      background-color: $color-terciario;
      color: $color-blanco;
      border: none;
    }
  }

  .mapa {
    iframe {
      width: 100%;
      height: 350px;
      border: none;
    }
  }
}

/* RESPONSIVE CONTACTO CELULARES */
@media (max-width: 575px) {
  .header_contacto {
    background-position: 80% center;
    height: 100vh;
  }

  .contacto {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;

    .formulario {
      width: 100%;
      height: auto;
    }

    .mapa {
      width: 100%;
      margin-top: 20px;

      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }
}

/* RESPONSIVE CONTACTO TABLET */
@media (min-width: 576px) and (max-width: 1024px) {
  .header_contacto {
    background-position: 90% center;
    height: 60vh;
    @include flex(flex, center, center);
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  #principal {
    .contacto {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .formulario {
        width: 80%;
        height: auto;
      }

      .mapa {
        width: 80%;
        margin: 20px 0;

        iframe {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
