@import "../abstracts/mixin";
@import "../abstracts/variables";
@import "../abstracts/navbar";
@import "../abstracts/footer";

/* HEADER INICIO */
.header_inicio {
  @include flex(flex, space-between, center);
  min-height: $header-height;
  background-color: $color-negro;
  .header_info {
    width: 40%;
    margin-left: 200px;
    h2 {
      @include h2(32pt, $color-terciario, bold);
      text-transform: uppercase;
    }
    p {
      @include p(18pt, $color-blanco, normal);
    }
    a {
      @include btn;
    }
    a:hover {
      background-color: $color-terciario;
      color: $color-blanco;
    }
  }
  .logo-header {
    width: 400px;
    margin-right: 300px;
  }
}
/* MAIN */
#principal {
  text-align: center;
  h1 {
    @include h1(36pt, $color-terciario, bold);
    margin-top: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .contenedor_productos {
    @include flex(flex, center, center);
    padding: 10px;
    .productos {
      margin: 10px;
      display: inline-block;
      background-color: $color-secundario;
      img {
        width: 100%;
        box-shadow: $box-shadow;
      }
      h2 {
        @include h2(32pt, $color-blanco, bold);
        margin-top: 20px;
      }
      p {
        @include p(18pt, $color-blanco, normal);
        margin-bottom: 10px;
      }
    }
  }
}

/* RESPONSIVE INDEX CELULARES */
@media (max-width: 575px) {
  .header_inicio {
    @include flex(flex, center, center);
    flex-direction: column-reverse;
    height: 100vh;
    .header_info {
      width: 90%;
      margin-left: 0;
      text-align: center;
      h2 {
        @include h2(24pt - 5pt, $color-terciario, bold);
        margin-top: -10px;
      }
      p {
        @include p(16pt - 2pt, $color-blanco, normal);
        margin-bottom: 20px;
      }
    }
    .logo-header {
      width: 90%;
      margin-right: 0;
      margin-top: -30px;
    }
  }
  #principal {
    margin-top: 30px;
    h1 {
      @include h1(36pt - 5pt, $color-terciario, bold);
      margin-top: 0;
    }
    .contenedor_productos {
      width: 100%;
      flex-direction: column;
      .productos {
        h2 {
          @include h2(24pt - 5pt, $color-blanco, bold);
        }
        p {
          @include p(16pt - 2pt, $color-blanco, normal);
        }
      }
    }
  }
}
/* RESPONSIVE INDEX TABLET */
@media (min-width: 576px) and (max-width: 1024px) {
  .header_inicio {
    height: 60vh;
    .header_info {
        margin-left: 20px;
        width:90%;
      h2 {
        @include h2(32pt - 5pt, $color-terciario, bold);
        text-transform: uppercase;
      }
      p {
        @include p(18pt - 2pt, $color-blanco, normal);
      }
    }
    .logo-header {
      margin-right: 10px;
    }
  }
  #principal {
    h1 {
      @include h1(36pt - 5pt, $color-terciario, bold);
    }
  }
}
